body {
    height: 70vh;
    min-height: 200px;
    background: linear-gradient(#ecf2ff, #fff) no-repeat;
}
#controls-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 100;
}
.btn-arrow {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 120%;
    /* All this because firefox */
    border-width: 1px;
    border-radius: 3px;
    background: linear-gradient(#D8DEEB, #F8F8F8, #D8DEEB) no-repeat;

}
.btn-arrow:hover {
    /* All this because firefox */
    background: linear-gradient(#DEE4F1, #fff, #DEE4F1) no-repeat;

}
#btn-left, #btn-reset {
    margin-right: 32px;
}
#btn-random {
    font-size: 100%;
}
.circle {
    width:94px;
    height: 94px;
    border-radius: 50px;
    border: 3px solid blue;
    background: blue;
    transition: top .5s ease-out, left .5s ease-out, background-color .5s ease-out, border-color .5s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 40px 0 rgba(0, 0, 0, 0.07);
}
#piece {
    position: absolute;
    top: 100px;
    left: 50%;
}
#piece:hover {
    background-color: transparent !important;
}
